/* Адапритвность ----------------------------------------------------------- */

@media (max-width: 1024px) {
    header {
        font-size: 16px;
    }

    .logotype {
        height: 60px;
    }

    .form-question input[type='text'], .form-question textarea {
        width: 200px;
    }
}

@media (max-width: 960px) {

}

@media (max-width: 800px) {
    .front-page_inner h1 {
        font-size: 24px;
    }

    .front-page_inner p, .front-page_inner a {
        font-size: 16px;
    }

    .darking-wheele {
        width: 200px;
        height: 200px;
    }

    .new-items .decor {
        width: 15%;
    }

    .new-items_inner article {
        width: 90%;
    }

    .second-part {
        font-size: 16px;
    }

    .footer-content_inner {
        flex-wrap: wrap;
    }

    .company-label{
        flex: 10;
    }

    .logotype-mini {
        width: 40px;
    }

    .footer-content_inner > nav {
        flex: 25;
    }

    .form-question {
        width: 100%;
        margin: 12px 0;
        text-align: center;
    }

    .form-question input:not(.form-question input[type='button']), .form-question textarea {
        width: 75%;
    }

    .connection {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .burger-icon {
        display: block;
    }

    .front-page {
        height: 50vh;
    }

    .new-items_inner article {
        flex-direction: column;
    }

    .second-part {
        position: static;
        width: 100%;
        opacity: 1;
    }
}

@media (max-width: 640px) {
    .descrip {
        width: 100%;
    }

    .burger-menu nav {
        width: 40%;
    }

    .bestsellers_inner > .items_container {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .bestsellers_inner .item-card {
        width: 40%;
    }

    .bestsellers_inner .item-card:not(:last-child) {
        margin-bottom: 20px;
    }

    .item .item_inner {
        flex-direction: column;
        align-items: center;
    }

    .footer-content_inner > nav {
        margin-top: 20px;
    }

    .footer-content_inner > .connection {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .front-page {
        height: 60vh;
    }

    .burger-menu nav {
        width: 60%;
    }

    .bestsellers_inner > .items_container {
        flex-direction: column;
        align-items: center;
    }

    .bestsellers_inner .item-card {
        width: 60%;
    }

    .company-label{
        flex: 100%;
    }

    .footer-content_inner > nav {
        flex: 30%;
    }
}

@media (max-width: 376px) {
    /* .header_inner {
        flex-wrap: wrap;
    } */
}

@media (max-width: 320px) {

}