/* Фильтр ----------------------------------------------------------- */

 .filters {
    background: linear-gradient(0deg, rgba(44,48,132,0) 0%, rgba(104,65,146,1) 75%);
}

.filters_inner {
    /* display: flex;
    flex-wrap: wrap; */
    padding: 24px 0;
}

/*.step {
    display: flex;
    align-items: center;
    font-size: 32px;
}

.step-one, .step-two {
    width: 50%;
}

.step-three {
    width: 100%;
}

[class^='step-'] {
    margin-bottom: 16px;
}

.buttons_container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 16px auto;
}

.button_item {
    position: relative;
}

.button_item > button {
    position: relative;
    width: 100%;
    border: 2px solid #3DBAB7;
    padding: 16px;
    overflow: hidden;
    color: #FFF;
    background-color: #3DBAB700;
}

.button_item:first-child > button {
    color: #1F1C31;
    background-color: #3DBAB7;
}

.step-one .button_item {
    width: 24%;
}

.step-two .button_item {
    width: 32%;
}

.button_item .icon-exclamation-thick {
    position: absolute;
    top: 7px;
    right: 2px;
    z-index: 10;
    opacity: 0;
}

.button_item .icon-exclamation-thick::before {
    border: 2px solid #EA5A1A;
    border-radius: 16px;
}

.button_item > span:last-child {
    position: absolute;
    top: -40px;
    display: block;
    padding: 12px;
    border-radius: 4px 4px 4px 0;
    background-color: #2C3084;
    opacity: 0;
    transition: opacity 0.3s;
}

.specifics > .button_item > span:last-child {
    right: -200px;
}

.series > .button_item > span:last-child {
    right: -132px;
}

[aria-describedby]:hover + [role=tooltip] {
    opacity: 1;
} */

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #3DBAB7;
}

.filters_inner > p {
    margin: 8px 0;
}

.filters_inner > form {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    border-top: 4px solid #EA5A1A;
    font-size: 16px;
}

.filters_inner select {
    width: 300px;
}

.filters_inner input {
    border: 2px solid #684192;
    color: #F4F4F4;
    background-color: #684192;
}

.filters_inner input:hover {
    border-color: #3DBAB7;
    cursor: pointer;
}

.filters_inner input:active {
    background-color: #3DBAB7;
}

/* Товары ----------------------------------------------------------- */

.items {
    position: relative;
    width: auto;
}

.items_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.item-card {
    margin: 16px 20px;
}