/* @font-face {
    font-family: 'Metro';
    src: url('../fonts/Metro/Metro.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
} */

@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/FiraSans/FiraSansRegular/FiraSansRegular.ttf') format('ttf'),
        url('../fonts/FiraSans/FiraSansRegular/FiraSansRegular.woff') format('woff'),
        url('../fonts/FiraSans/FiraSansRegular/FiraSansRegular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/FiraSans/FiraSansRegular/FiraSansItalic.ttf') format('ttf'),
        url('../fonts/FiraSans/FiraSansRegular/FiraSansItalic.woff') format('woff'),
        url('../fonts/FiraSans/FiraSansRegular/FiraSansItalic.eot') format('eot');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/FiraSans/FiraSansBold/FiraSansBold.ttf') format('ttf'),
        url('../fonts/FiraSans/FiraSansBold/FiraSansBold.woff') format('woff'),
        url('../fonts/FiraSans/FiraSansBold/FiraSansBold.eot') format('eot');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}