/* Обнуление ----------------------------------------------------------- */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    vertical-align: top;
}

/* Общее ----------------------------------------------------------- */

html, body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    font-family: 'FairaSans', sans-serif;
    font-weight: 400;
    color: #F4F4F4;
    background-color: #1F1C31;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

section:not(:first-child) {
    position: relative;
    margin-bottom: 40px;
}

._container {
    max-width: 1340px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 5px;
}

a {
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    padding: 4px;
    text-align: center;
}

address {
    font-style: inherit;
}

/* Шапка ----------------------------------------------------------- */

header {
    position: fixed;
    z-index: 100;
    width: 100vw;
    font-size: 20px;
    background-color: #1F1C31DD;
}

.header_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

/* Логотип ----------------------------------------------------------- */

.logotype {
    height: 88px;
}

.logotype > a {
    height: 100%;
    border: none;
    padding: 0;
}

.logotype svg {
    height: 100%;
    width: auto;
}

/* Меню ----------------------------------------------------------- */

.header_inner ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_inner li:not(:last-child) {
    margin-right: 20px;
}

/* Блок кнопак ----------------------------------------------------------- */

.buttons {
    display: flex;
    align-items: center;
}

/* Кнопка обратного звонка ----------------------------------------------------------- */

.call-back {
    margin-right: 12px;
    border-color: #3DBAB7;
    font-size: 16px;
    /* color: #F4F4F4; */
    color: #1F1C31;
    background-color: #3DBAB7;
}

.call-back:active {
    border-color: #684192;
    background-color: #684192;
}

/* Иконка бургера ----------------------------------------------------------- */

.burger-icon {
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
}

.burger-icon > img {
    position: absolute;
    width: 100%;
    border-spacing: 0;
}

/* .burger-icon > img:first-child {
    left: -8px;
    opacity: 0;
}

.burger-icon > img:nth-child(2) {
    left: 8px;
    opacity: 0;
} */

.burger-icon > img:first-child {
    opacity: 1;
    transition: opacity 1s;
}

.burger-icon > img:last-child {
    opacity: 0;
    transition: opacity 1s;
}

.burger-icon.active > img:first-child {
    opacity: 0;
}

.burger-icon.active > img:last-child {
    opacity: 1;
}

/* Анимация кнопок ----------------------------------------------------------- */

.header_inner > nav a:hover, .header_inner > button:hover {
    border-color: #684192;
    cursor: pointer;
}

.header_inner > nav a:active, .header_inner > button:active {
    background-color: #684192;
}


/* Подвал ----------------------------------------------------------- */

.footer-content {
    background-color: #2C3084;
}

.footer-content_inner {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}

/* Брендовый знак ----------------------------------------------------------- */

.logotype-mini {
    width: 60px;
}

.logotype-mini svg {
    width: 100%;
    height: auto;
}

/* Адрес ----------------------------------------------------------- */

.company-label span {
    text-transform: uppercase;
}

/* Меню подвала ----------------------------------------------------------- */

.footer-content_inner {
    display: flex;
    justify-content: space-between;
}

.footer-content_inner > *:not(:last-child) {
    margin-right: 12px;
}

.footer-content_inner h2 {
    font-size: 20px;
}

.footer-content_inner li:not(:last-child), .footer-content_inner address:not(:last-child) {
    margin: 4px 0;
}

.footer-content_inner a {
    display: inline;
    border: none;
    padding: 0;
    text-decoration: underline;
}

/* Форма для вопроса ----------------------------------------------------------- */

.form-question h2 {
    margin: 4px 0;
    font-size: 24px;
    font-family: 'Source Sans Pro Bold', sans-serif;
    color: #3DBAB7;
}

.form-question input[type='text'] {
    width: 350px;
}

.form-question input[type='button'] {
    border-color: #EA5A1A;
    color: #F4F4F4;
    background-color: #EA5A1A;
}

.form-question input[type='button']:active {
    border-color: #3DBAB7;
    background-color: #3DBAB7;
}

/* Контакты ----------------------------------------------------------- */

.connection {
    width: 200px;
}

.contacts {
    margin: 12px 0;
}

.contacts > address {
    text-decoration: underline;
}

/* Поделиться ----------------------------------------------------------- */

.share > button {
    border-color: #3DBAB7;
    color: #F4F4F4;
    background-color: #3DBAB7;
}

.share > button:active {
    border-color: #684192;
    background-color: #684192;
}

.share > button > span {
    margin-right: 4px;
}

/* Права и авторство ----------------------------------------------------------- */

.copyright {
    padding: 4px 0;
    background-color: #684192;
}

.copyright_inner {
    text-align: center;
}

.copyright_inner span {
    color: #3DBAB7;
}

/* Бургер меню ----------------------------------------------------------- */

.burger-menu {
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 90;
    width: 100%;
    height: 100vh;
    /* border-radius: 12px 0 0 12px; */
    background-color: #1F1C3100;
    transition: all 0.5s;
}

.burger-menu nav {
    position: absolute;
    right: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32%;
    height: 100%;
    padding: 16px;
    background-color: #EA5A1A;
    transition: all 0.5s;
}

.burger-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    margin-top: 92px;
}

.burger-menu li {
    padding: 12px;
    border-bottom: 4px solid #F4F4F488;
    text-align: right;
    font-size: 20px;
}

.burger-menu.active {
    right: 0;
    background-color: #1F1C3188;
}

.burger-menu.active nav.active {
    right: 0;
}

.connect {
    color: #F4F4F4;
    text-align: center;
}

/* .connect > h2 {
    color: #3DBAB7;
} */

.networks {
    display: flex;
    justify-content: center;
}

@keyframes slide {
    0% {

    }
    100% {

    }
}